body {
    //background: url('/design/images/background.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

div.login-content {
    margin: auto;
    background: rgba(199, 199, 199, 0.6);
    border-radius: 4px;
    border: 2px solid rgba(199,199,199,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    padding-left: 20px;
    padding-right: 20px;
    max-width: 700px;
    width: 80%;
    position: relative;
    top: 50%;
    //left: 50%; translateX(-50%)
    transform: translateY(-50%);
}

div.main-content {
    margin: auto;
    background: rgba(199, 199, 199, 0.6);
    border-radius: 4px;
    border: 2px solid rgba(199,199,199,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    padding: 20px;
    padding-bottom: 60px;
    padding-top: 10px;
    min-height: 500px;
    max-width: 97%;
    min-width: 450px;
    position: relative;
    top: 3%;
    //left: 50%; translateX(-50%)
    transform: translateY(-50%);
}

table {
    text-align: center;
}

th.styled {
    text-align: center;
    background: #2c3e50;
    color: white;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
}

td.styled {
    text-align: center;
    background: #2c3e50;
    color: white;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
}

form.form-signin {
    margin-top: 15px;
}

input.login-input {
    height: 34px;
    border: 2px solid #999;
    border-radius: 4px;
    margin: 5px;
}

.login-input:focus {
    border: 2px solid #90DAFF;
}

.logo-container {
    width: 100%;
    height: 33%;
    text-align: center;
    padding: 0;
}

.logo-container-sidebar {
    width: 100%;
    height: 80px;
    text-align: center;
    //border: 1px dashed red;
    padding: 0;
}

input.sidebar-search {
    height: 34px;
    border: 2px solid #999;
    border-radius: 4px;
    width: 145px;
}

.sidebar-search:focus {
    border: 2px solid #90DAFF;
}

.login-container {
    width: 100%;
    height: auto;
}

div.content-container {
    position:relative;
    width:auto;
    height: 100%;
    margin:0px 0px 0px 240px;
    //border: 1px dashed red;
}

div.sidebar-container {
    position: fixed;
    background: rgba(199, 199, 199, 0.6);
    box-shadow: 4px 0px 5px rgba(0,0,0,0.3);
    width: 240px;
    height: 100%;
    float: left;
    padding: 10px;
}

h1.logo {
    font-size: 100px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h3.logo {
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    position: relative;
    top: 12%;
    //transform: translateY(-20%);
}

h1.content-title {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    margin: 20px;
}

div.inner-content-block {
    //border: 1px dashed red;
    width: 400px;
    height: 200px;
    display: inline-table;
    margin: 10px;
    background: rgba(255,255,255,0.6);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    position: relative;
}

div.inner-content-block-empty {
    border: 1px dashed red;
    width: 350px;
    min-height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

h2.inner-content-title {
    width: 102.5%;
    transform: translateX(-5px);
    background: #2C3E50;
    border-radius: 5px;
    color: white;
    margin: 0px;
    padding: 5px;
    text-align: left;
}

p.inner-content-text {
    color: #2C3E50;
    text-align: left;
    font-size: 20px;
    margin: 5px;
}

.admin-table {
    margin-top: 20px;
}

.form-styling {
    margin: 10px 0px;
}